.categories-main {
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
}

.category {
    border: 1px solid var(--color-alt);
    padding: 1rem;
}

.category:hover,
.category:focus {
    text-decoration: underline;
}

.category > a {
    display: contents;
    color: var(--color-text);
}
