.categories-main {
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 2rem;
}

.category-box {
    display: flex;
    width: 100%;
}

.category {
    width: 100%;
    border: 1px solid var(--color-alt);
    padding: 1rem;
    color: var(--color-text);
    align-content: center;
    text-decoration: none;
}

.category:hover,
.category:focus {
    text-decoration: underline;
}

.edit-section {
    width: 50%;
}
